// Header
.contact header {
    background-image: url(./under-the-sea-assets/contact-header.jpg);
    height: 50vh;
}

// Body
.contact main {
    background-color: $color4;
    height: 50vh;
}
.contact section {
    display: flex;
    align-items: end;
    position: relative;
}
.right-side {
    position: absolute;
    right: -80px;
}
.right-side h2 {
    padding-bottom: 15px;
}
.contact aside {
    order: -1;
    margin-top: 100px;
}

// Form
.contact .background-design {
    background-color: $color3;
    padding: 50px 50px 10px 50px;
}


// Site info
.contact aside p {
    @include h4;
}
.contact .site-info {
    @include  body;
}
.contact .social-icons {
    padding-bottom: 10px;
}
.contact .social-icons a{
    @include h4;
    padding: 10px;
}
.contact a:first-child{
    padding-left: 0;
}
.contact a:hover {
    color: $color2;
}