.wrapper {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
img {
    display: block;
    // width: 100%;
    height: auto;
}
h1, h2, h3, h4, p, ul, li, a, fieldset, input, label, textarea, button, i{
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}