@media (max-width: 1600px) {
    .index .page-one {
        height: 50vh;
        div {
            top: 90px;
        }
    }
    .index .page-two-text {
        padding-top: 50px;
    }
    .index .page-two-addition img {
        margin-right: 100px
    }
    .index .page-two-nemo img {
        margin-left: 100px;
    }
}

@media (max-width: 1160px) {
    .index .page-one {
        height: auto;
        div {
            position: initial;
            padding: 50px;
        }
    }
    .index .page-two-addition,
    .index .page-two-nemo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .index .page-two-addition {
        padding-top: 45px;
    }
    .index .page-two img {
        position: revert;
        margin: 0;
    }
    .index .page-two-text {
        text-align: center;
        padding-bottom: 45px;
        padding-top: 50px;
        p {
            padding-bottom: 15px;
        }
    }
        .page-two-nemo div:nth-child(2) {
        text-align: center;
    }
    .index .page-three-text p {
        padding-left: 0;
    }
    .index .page-five-all {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        img {
            width: 45%;
        }
    }
    .index .page-five-info {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 60px;
    }
}

@media (max-width: 815px) {
    .index header {
        height: auto;
        img {
            position: initial;
            width: 100%;
        }
    }
    .index .header-info {
        flex-direction: column;
        margin-top: 10px;
    }
    .index .background-design {
        box-shadow: -10px 10px $color2;
    }
    .index .background-design2 {
        box-shadow: 10px 10px $color2;
    }
    
}

@media (max-width: 440px) {
    .index h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .index #dropbtn {
        display: block;
    }
    .index nav {
        display: none;
        padding-bottom: 0;
        background-color: $color3;
        z-index: 10;
        position: fixed;
        top: 70px;
        right: 0;
        text-align: right;
        width: 120px;
        border-radius: 15px 0 0 15px;
        border: 2px solid $color1;
        border-right: none;
        animation-duration: 0.4s;
        ul {
            flex-direction: column;
            text-align: center;
            li {
                padding: 0;
                margin-top: 0;
                a {
                    padding-left: 6px;
                }
            }
        }
    }
    .index nav ul li:hover {
        background-color: $color4;
    }
    .index nav ul li:hover:first-child {
        border-radius: 17px 0 0 0;
    }
    .index nav ul li:hover:last-child {
        border-radius: 0 0 0 17px;
    }
    .index header h1 {
        font-size: 70px;
        line-height: 65px;
    }
    .index .header-info {
        margin-top:0;
    }
    .index .page-one div {
        padding: 65px 25px 25px 25px;

    }
    .index .page-three {
        padding-top: 40px;
    }
    .index .page-three-text {
        width: 100%;
    }
    .index .page-three-text:nth-child(2n) {
        padding-left: 0;
    }
    .index .page-six img {
        display: none;
    }
    .index .page-six img:first-child {
        display: block;
        width: 100%;
    }
    
}