$color1: #ffffff;
$color2: #86e0f9;
$color3: #0f614e;
$color4: #0c1423;

@mixin h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 138px;
    line-height: 126px;
    color: $color1;
}

@mixin h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 80px;
    line-height: 92px;
    color: $color1;
}

@mixin h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    color: $color1;
}

@mixin h4 {
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    color: $color1;
}

@mixin nav {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    color: $color1;
}

@mixin button($colorValue) {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    color: $colorValue;
}

@mixin body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: $color1;
}