@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Lato&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, p, ul, li, a, fieldset, input, label, textarea, button, i {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
nav ul li {
  padding: 0 20px;
  margin-top: 20px;
}
nav ul li a:hover {
  color: #86e0f9;
}

.background-design {
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
}

.background-design2 {
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
}

.find {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #0c1423;
  background-color: #86e0f9;
  padding: 15px 30px;
  border-radius: 3px;
}

.find:hover {
  background-color: #ffffff;
}

.read {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: black;
  padding: 10px 20px;
}

.read:hover {
  background-color: #86e0f9;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 138px;
  line-height: 126px;
  color: #ffffff;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 80px;
  line-height: 92px;
  color: #ffffff;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 42px;
  letter-spacing: 1px;
  color: #ffffff;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  color: #ffffff;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #ffffff;
}

a {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: white;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

form {
  padding-left: 10px;
}

input,
textarea {
  background-color: #0f614e;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  padding: 10px;
  border: none;
}

input {
  width: calc(50% - 12px);
  margin-bottom: 20px;
  border-bottom: 2px solid #86e0f9;
}

#name {
  margin-right: 10px;
  padding-left: 20px;
}

input:last-child {
  margin-left: 10px;
  padding-left: 20px;
}

fieldset {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  border: 2px solid #86e0f9;
}

button {
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 100%;
  background-color: black;
  border: none;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  background-color: #86e0f9;
  position: relative;
  bottom: 0;
}
footer p {
  color: #0c1423;
  text-align: center;
}

.index header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./under-the-sea-assets/header-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./under-the-sea-assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: top;
  height: 80vh;
}

.index .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
}

.index header img {
  position: absolute;
  right: 0;
  width: 50%;
}

.page-one {
  background-color: #0c1423;
  height: 70vh;
  text-align: center;
}
.page-one div {
  position: relative;
  top: 250px;
  padding: 0 100px;
}
.page-one div p {
  padding-bottom: 40px;
}
.page-one div h3 {
  padding-bottom: 20px;
}

.page-two {
  background-color: #0f614e;
}

.page-two-addition img {
  float: left;
  width: 45%;
  margin-right: 200px;
  position: relative;
  bottom: 29px;
}

.page-two-nemo img {
  float: right;
  width: 45%;
  margin-left: 200px;
  position: relative;
  top: 29px;
}

.page-two-nemo div:nth-child(2) {
  text-align: right;
}

.page-two-text {
  padding-top: 100px;
}
.page-two-text h4 {
  padding-bottom: 20px;
}
.page-two-text p {
  padding-bottom: 40px;
}

.page-three {
  background-color: #0c1423;
  padding-top: 100px;
  padding-bottom: 30px;
}

.page-three-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-three-text {
  width: 50%;
  padding-bottom: 50px;
}
.page-three-text p {
  padding-left: 70px;
}
.page-three-text h4 {
  padding-bottom: 20px;
}

.page-three-text:nth-child(2n) {
  padding-left: 40px;
}

.index i {
  background-color: #86e0f9;
  color: #0c1423;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.page-five {
  background-color: #0c1423;
}

.page-five .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
}

.page-five img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.page-five-info {
  margin-left: 100px;
}
.page-five-info p {
  padding-bottom: 50px;
}
.page-five-info h3 {
  padding-bottom: 25px;
}

.page-six {
  background-color: #0f614e;
}

.page-six-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
.page-six-info img {
  width: 31%;
}

.blog header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(./under-the-sea-assets/blog-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./under-the-sea-assets/blog-header.jpg);
  height: 50vh;
  background-size: cover;
}

.blog main {
  background-color: #0c1423;
}

.blog .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog section {
  width: 60%;
  position: relative;
  bottom: 300px;
  margin-bottom: -330px;
}
.blog section .background-design {
  width: 116%;
  height: 20%;
}

.blog aside {
  width: 30%;
  margin-top: 150px;
}
.blog aside img {
  width: 135%;
  position: relative;
  right: 180px;
  height: 15%;
  -webkit-box-shadow: 20px 0px #0f614e;
          box-shadow: 20px 0px #0f614e;
}

.blog .aside-info {
  background-color: #0f614e;
  position: relative;
  left: 8px;
}

.blog .aside-info-paragraphs {
  padding: 27px 60px 40px 20px;
}
.blog .aside-info-paragraphs h4 {
  padding-bottom: 10px;
}

.blog .aside-info-paragraphs ul {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
.blog .aside-info-paragraphs ul li {
  list-style: disc;
  list-style-position: inside;
}

.blog section h2 {
  padding-bottom: 30px;
}

.info h3 {
  padding-top: 50px;
}

.info p:nth-child(2) {
  margin-bottom: 50px;
}

.info {
  border-bottom: 4px solid #86e0f9;
  border-left: 4px solid #86e0f9;
  margin-left: -30px;
  padding-left: 30px;
}

.comments-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.comments-info {
  padding-left: 25px;
}

.comments h3 {
  padding: 20px 0;
}

.comments p:first-child {
  margin-bottom: 8px;
  margin-top: -8px;
}

.comments img {
  height: 100px;
  width: 100px;
}

.blog form {
  background-color: #0c1423;
}

.blog input,
.blog textarea {
  background-color: #0c1423;
}

.blog textarea {
  width: 100%;
}

.blog button {
  background-color: #0f614e;
}

.contact header {
  background-image: url(./under-the-sea-assets/contact-header.jpg);
  height: 50vh;
}

.contact main {
  background-color: #0c1423;
  height: 50vh;
}

.contact section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}

.right-side {
  position: absolute;
  bottom: 0px;
  right: -80px;
}

.right-side h2 {
  padding-bottom: 15px;
}

.contact aside {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 100px;
}

.contact .background-design {
  background-color: #0f614e;
  padding: 50px 50px 10px 50px;
}

.contact .site-info {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

.contact .social-icons {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  color: #ffffff;
}
.contact .social-icons i {
  padding: 10px;
}

.contact i:first-child {
  padding-left: 0;
}